html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: clamp(14px, 0.8vw, 16px);
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

a,
svg,
img {
  flex-shrink: 0;
}
